@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

:root {
  --primary-color: #5eb562;
  --secondary-color: #333;
  --background-color: #dff0e0;
  --btn-color: #5eb562;
  --animation-color: #005c08;
}

:root {
  --focus-ring-opacity: 1;
  --focus-ring-color: var(--animation-color);
  --focus-ring-box-shadow: 0 0 0 2px
    rgba(94, 181, 98, var(--focus-ring-opacity));
}
